{{ define "header" }}

<header>
    <div class="topnav" id="myTopnav">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#contact">Manuals</a></li>
            <li><a href="#news">Articles</a></li>
            <li><a href="/write">Add Post</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>
</header>

{{ end }} 