{{ define "index" }}
<html>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<head>
			<meta charset="utf-8">
			<title>st</title>
			<link rel="stylesheet" href="/pages/main.css">
	</head>
	<body>
		{{ template "header" }}
		<div class="wrapper">
			{{ range $key, $value := . }}
			<div class="row">
				<!-- TITLE -->
				<div class="col-xs-2"></div>
				<div class="col-xs-8"><h1>{{ $value.Title }}</h1></div>
				<div class="col-xs-2"></div>
							
			</div>
			<div class="row">
				<!-- CONTENT -->
				<div class="col-xs-2"></div>
				<div class="col-xs-8">{{ $value.Content }}</div>
				<div class="col-xs-2"></div>

			</div>
			{{ end }}
		</div>
	</body>
</html>
{{ end }}