body {
    margin: 0 auto; 
    padding: 0 auto; 
}

.wrapper {
    margin: 0 auto;
    width: 100vh;
    max-width: 1500px;
}

header{
	display: flex; 
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1000px){
    header{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  