{{ define "write" }}
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <head>
            <meta charset="utf-8">
            <title>st</title>
			<link rel="stylesheet" href="/pages/main.css">
    </head>
    <body>
        {{ template "header" }}
			<div class="wrapper PostForm">                    
                <form role="form" method="POST" action="/savepost">
                    <input type="hidden" name="Id" value="{{.Id}}" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="title" name="Title" value="{{.Title}}">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea id="content" name="Content">{{.Content}}</textarea>
                    </div>
                    <button type="submit">Save</button>
                </form>
                <!-- <div class="col-xs-4">
                    {{ if .Id }}
                        <a href="/delete?id={{.Id}}">Delete</a>
                    {{ end }}
                </div> -->
			</div>
        {{ template "footer" }}
    </body>

</html>
{{ end }}